<html>

<head>
	<title>Awarness/Follow-up</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='petdraft.css') }}">
</head>

	<body>
		{% extends "petdraft.html" %}
		{% block content %}

		<h1 class="page_header"> Learn with us.</h1>
		<a href="{{ url_for('notifications') }}"><div class="door"
		id="notifications_door">notifications</div></a>
		<a href="{{ url_for('petowner') }}"><div class="door"
		id="petowner">petowner></div> </a>

		<h1>~Awarness/Follow-up~</h1>
		<h2></h2> 
		<h3><h3/>
		

	</body> 
</html>
