<html>


<head>
	<title>Home</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='petdraft.css') }}">
</head>

	<body>
		<div id="banner">
			<a href="{{ url_for('index') }}"><div class="navbotton"> home
			</div></a>
			<a href="{{ url_for('petowner') }}"><div class="navbotton">petowner
				</div></a>
				<a href="{{ url_for('notifications') }}"><div class="navbotton">
				notifications</div></a>
		

<a href="{{ url_for('petid') }}"><div class="navbotton"> petid
			</div></a>
			<a href="{{ url_for('petid') }}"><div class="navbotton">
				</div></a>
				<a href="{{ url_for('petfinder') }}"><div class="navbotton">
				petfinder</div></a>
<form>

First name: <input type="text" name="firstname"><br>
Last name: <input type="text" name="lastname">
</form>		

<form>
Password: <input type="password" name="pwd">
</form>

<div class="pets">

<form>
<input type="radio" name="sex" value="male">Male<br>
<input type="radio" name="sex" value="female">Female<br>
<input type="radio" name="sex" value="transgender MTF">Transgender MTF<br>
<input type="radio" name="sex" value="transgender FTM">Transgender FTM<br>
<input type="radio" name="sex" value="intersex">Intersex<br>
</form>

<form>
<input type="checkbox" name="petowner" value="pets">I have lost a pet<br>
<input type="checkbox" name="petfinder" value="pets">I have found a pet 
</form>

<form name="input" action="demo_form_action.asp" method="get">
Username: <input type="text" name="user">
<input type="submit" value="Submit">

</div>
<div class="petimage">
<img src="{{ url_for('static', filename='pets.jpg') }}" width="40%" height="40%" />
</div>





</form>

</html>




























		
		<div id="header">
				<img src="../static/logo.jpg">
				<div id="triangle"></div>
		</div> 

<h1>Welcome to home page!</h1>
		
		
		<div id="main_content">
		{% block content %}

		{% endblock %}
	</div>

	</body> 
</html>

