<html>

<head>
	<title>petfinder</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='petdraft.css') }}">
</head>

	<body>

		<h1></h1>
		<h2></h2> 
		<h3><h3/>

<h1>~*Petfinder*~</h1>
		<h2></h2> 
		<h3><h3/>
		<div class="Input">Pet name:</div>
		<div class="Input">Location Found:</div>
		<div class="Input">Personal Stories:</div>
		<div class="Input">Pet Description:</div>
		<div class="Input">Date Found:</div>
		<div class="Input">Pet ID Number:</div>



		

	</body> 
</html>
