
<html>

<head>
	<title>~*Petowner~*</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='petdraft.css') }}">
</head>

	<body>

		<h1></h1>
		<h2></h2> 
		<h3><h3/>

<h1></h1>
		<h2></h2> 
		<h3><h3/>
		<div class="Input">Pet name:</div>
		<div class="Input">Location Found:</div>
		<div class="Input">Date Lost:</div>
		<div class="Input">Location Lost:</div>
		<div class="Input">Personal Stories:</div>
		<div class="Input">Pet Descriptions:</div>
		<div class="Input">Type of Breed:</div>


	
		

	</body> 
</html>



{% extends "home.html" %}
{% block content %}
		<h1>Petowner</h1>
		<h2></h2> 
		<h3><h3/>
	{% endblock %}
		


